@{
    ViewData["Title"] = "IndexDetaContratacion2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
</div>
<!-- Start header -->
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>
                    Detalles de Concurso
                </h1>
            </div>
        </div>
    </div>
</div>
<!-- End header -->

<div class="blog-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Compra de productos de limpieza para la fuente del parque de nicoya</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-12">
                <div class="blog-inner-details-page">
                    <div class="blog-inner-box">
                        <div class="side-blog-img">
                            <img class="img-fluid" src="images/logo Nicoya.png" alt="">
                            <div class="date-blog-up">
                                Febrero 25, 2021
                            </div>
                        </div>
                        <div class="inner-blog-detail details-page">
                            <ul>
                                @*Poner quien lo edita*@
                                <li><i class="zmdi zmdi-account"></i>Actualizado por : <span>Admin</span></li>
                                <li>|</li>
                                @*Poner la hora*@
                                <li><i class="zmdi zmdi-time"></i>Hora : <span>11.30 am</span></li>
                            </ul>
                            <p>
                                El departamento de Proveeduría de la Municipalidad de Nicoya, Guanacaste, ubicado en el edificio El Cabildo; sita costado Sur – Oeste del Parque Recadero Briceño de Nicoya, invita a participar en la contratación de escasa cuantía según las condiciones y especificaciones que dictará el cartel que se adjunta.
                            </p>
                            <p></p>

                            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                                <a class="btn btn-lg btn-circle btn-outline-new-white" href="http://www.nicoya.go.cr/noticia/134/compra-de-productos-de-limpieza-para-la-fuente-del-parque-de-nicoya">Más Información</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                @Html.Partial("_BackButton")
            </div>
        </div>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
