@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!-- Start header -->
</div>
<!-- End header -->
<!-- Start slides -->
<div id="slides" class="cover-slides">
    <ul class="slides-container">
        <li class="text-left">
            <img src="images/kioskonicoya.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Bienvenido a Progeso <br> Sistema de Seguimiento de Proveeduría Institucional</strong></h1>
                        <p class="m-b-40">
                            <br>

                        </p>
                        @*<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Ingrese</a></p>*@
                    </div>
                </div>
            </div>
        </li>
        <li class="text-left">
            <img src="images/iglesia.png" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Bienvenido a Progeso <br> Sistema de Seguimiento de Proveeduría Institucional</strong></h1>
                        <p class="m-b-40">
                            <br>

                        </p>
                        @*<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Ingrese</a></p>*@
                    </div>
                </div>
            </div>
        </li>
        <li class="text-left">
            <img src="images/Muni_Nicoya.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Bienvenido a Progeso <br> Sistema de Seguimiento de Proveeduría Institucional</strong></h1>
                        <p class="m-b-40">
                            <br>

                        </p>
                        @*<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Ingrese</a></p>*@
                    </div>
                </div>
            </div>
        </li>
        <li class="text-left">
            <img src="images/Iglesia 2.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Bienvenido a Progeso <br> Sistema de Seguimiento de Proveeduría Institucional</strong></h1>
                        <p class="m-b-40">
                            <br>

                        </p>
                        @*<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Ingrese</a></p>*@
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End slides -->
<!-- Start About -->
<div class="about-section-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <div class="inner-column">
                    <h1> <span>Departamento de Proveeduria</span></h1>
                    <h4>Misión</h4>
                    <p>
                        Adquirir los bienes y servicios necesarios para la gestión municipal, en forma oportuna, en lascantidades solicitadas y bajo las mejores condiciones de calidad y precio, según lo establecidoen la legislación vigente y la disponibilidad de fondos.
                    </p>

                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="images/Municipalidad 3.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<!-- End About -->
<!-- Start QT -->
<div class="qt-box qt-background">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <p class="lead ">
                    DEPARTAMENTO DE PROVEEDURÍA Y LICITACIONES
                </p>
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <a class="btn btn-lg btn-circle btn-outline-new-white" href="http://www.nicoya.go.cr/std/257/proveeduria">Más Información</a>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End QT -->
<!-- Start Menu -->
<div class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Departamento Proveeduría</h2>
                    <p>Encargados</p>
                </div>
            </div>
        </div>

        <div class="row inner-menu-box">
            <div class="col-lg-12">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">


                        <div class="row">
                            <div class="col-lg-4 col-md-6 special-grid drinks">
                                <div class="gallery-single fix">
                                    <img src="images/UsrGIRL.png" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Jefa Departamento</h4>
                                        <p>Teresa Salas Murillo</p>
                                        <h5>
                                            proveeduria@municoya.go.cr
                                        </h5>
                                        <h5>
                                            Tel: 26858714
                                        </h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid drinks">
                                <div class="gallery-single fix">
                                    <img src="images/UsrGIRL.png" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Asistente</h4>
                                        <p>Azucena Rodríguez Jiménez</p>
                                        <h5>Tel: 26858713</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid drinks">
                                <div class="gallery-single fix">
                                    <img src="images/UsrGIRL.png" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Asistente</h4>
                                        <p>Meylin Briones Medina</p>
                                        <h5> Tel: 26858712</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Menu -->
<!-- Start Gallery -->
<div class="gallery-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Galería</h2>
                    <p>Proveeduría Intitucional</p>
                </div>
            </div>
        </div>
        <div class="tz-gallery">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <a class="lightbox" href="images/NicoyaIMAGE.png">
                        <img class="img-fluid" src="images/NicoyaIMAGE.png" alt="Galeria">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="images/iglesia-colonial-nicoya.jpg">
                        <img class="img-fluid" src="images/iglesia-colonial-nicoya.jpg" alt="Gallery Images">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="images/NicoyaIMAGEN2.png">
                        <img class="img-fluid" src="images/NicoyaIMAGEN2.png" alt="Gallery Images">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Gallery -->
<!-- Start Customer Reviews -->
<div class="customer-reviews-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2> CARTEL DE RECEPCIÓN DE OFERTAS</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto text-center">
                <div id="reviews" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner mt-4">

                        @***************************************************************@
                        <div class="carousel-item text-center active">
                            <div class="img-box p-1 border rounded-circle m-auto">
                                <img class="d-block w-100 rounded-circle" src="~/images/logo Nicoya.png" alt="">
                            </div>
                            <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">CONTRATACION DIRECTA</strong></h5>
                            <h6 class="text-dark m-0">NÚMERO 2020LN-0000002-01</h6>
                            <p class="m-0 pt-3">“COMPRA DE ALIMENTOS, UTILES DE COCINA, PRODUCTOS DE LIMPIEZA, PAPEL Y GAS PARA ATENCIÓN DE NIÑOS EN LOS CENTROS DE CUIDO DE NICOYA”.</p>
                            <a class="btn btn-lg btn-circle btn-outline-new-white" asp-area="Customer" asp-controller="Home" asp-action="IndexDetaContratacion1">Más Información</a>
                        </div>
                        @***************************************************************@

                        <div class="carousel-item text-center">
                            <div class="img-box p-1 border rounded-circle m-auto">
                                <img class="d-block w-100 rounded-circle" src="images/logo Nicoya.png" alt="">
                            </div>
                            <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">LICITACIÓN PÚBLICA</strong></h5>
                            <h6 class="text-dark m-0">NÚMERO 2020LP-000003-01</h6>
                            <p class="m-0 pt-3">
                                CONTRATACIÓN DE SERVICIOS PARA CONSTRUCCIÓN DEL EDIFICIO MUNICIPAL “AUDITORIO NICOYANO” Invitación a participar.En la oficina de Proveeduría de la Municipalidad, ubicada en el edificio Cabildo de Nicoya; sita costado Suroeste del Parque Recadero Briceño de Nicoya, se recibirán ofertas hasta las DIEZ HORAS (10.00 am hora nacional) DEL MIÉRCOLES 18 DE JUNIO DE 2020
                            </p>
                            <a class="btn btn-lg btn-circle btn-outline-new-white" asp-area="Customer" asp-controller="Home" asp-action="IndexDetaLicitacion1">Más Información</a>
                        </div>

                        @***************************************************************@

                        <div class="carousel-item text-center">
                            <div class="img-box p-1 border rounded-circle m-auto">
                                <img class="d-block w-100 rounded-circle" src="images/logo Nicoya.png" alt="">
                            </div>
                            <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">LICITACIÓN PÚBLICA</strong></h5>
                            <h6 class="text-dark m-0">NÚMERO 2020LN-0000001-01</h6>
                            <p class="m-0 pt-3">
                                LICITACIÓN PÚBLICA NÚMERO 2020LN-000001-01 “CONTRATACION DEL SERVICIO DE RECOLECCIÓN Y TRANSPORTE DE RESIDUOS SÓLIDOS ORDINARIOS NO VALORIZABLES” El departamento de Proveeduría de la Municipalidad de Nicoya, le invita a participar en el procedimiento de licitación pública número 2020LN-000001-01.
                            </p>
                            <a class="btn btn-lg btn-circle btn-outline-new-white" asp-area="Customer" asp-controller="Home" asp-action="IndexDetaLicitacion2">Más Información</a>
                        </div>
                        @*****************************************************************@

                        <div class="carousel-item text-center">
                            <div class="img-box p-1 border rounded-circle m-auto">
                                <img class="d-block w-100 rounded-circle" src="~/images/logo Nicoya.png" alt="">
                            </div>
                            <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">COMPRA DE PRODUCTOS DE LIMPIEZA PARA LA FUENTE DEL PARQUE DE NICOYA</strong></h5>
                            <h6 class="text-dark m-0"></h6>
                            <p class="m-0 pt-3">
                                El departamento de Proveeduría de la Municipalidad de Nicoya, Guanacaste, ubicado en el edificio El Cabildo; sita costado Sur – Oeste del Parque Recadero Briceño de Nicoya, invita a participar en la contratación de escasa cuantía según las condiciones y especificaciones que dictará el cartel que se adjunta.
                            </p>
                            <a class="btn btn-lg btn-circle btn-outline-new-white" asp-area="Customer" asp-controller="Home" asp-action="IndexDetaContratacion2">Más Información</a>
                        </div>
                        @*****************************************************************@

                    </div>
                    <a class="carousel-control-prev" href="#reviews" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Antes</span>
                    </a>
                    <a class="carousel-control-next" href="#reviews" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Después</span>
                    </a>
                </div>
            </div>
        </div>
    </div>


    </div>

    <!-- End Customer Reviews -->
    <!-- Start Contact info -->
    <div class="contact-imfo-box">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <i class="fa fa-volume-control-phone"></i>
                    <div class="overflow-hidden">
                        <h4>Teléfonos</h4>
                        <p class="lead"><a href="">26858714 -26858713 - 26858712 </a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-envelope"></i>
                    <div class="overflow-hidden">
                        <h4>Correo</h4>
                        <p><a href="">proveeduria@muninicoya.go.cr</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-map-marker"></i>
                    <div class="overflow-hidden">
                        <h4>Atención</h4>
                        Lunes a Viernes
                        7:30 a.m. a 4 p.m.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact info -->
    <!-- Start Footer -->
    <div class="footer-area bg-f">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <h3>Misión</h3>
                    <p align="center">
                        Adquirir los bienes y servicios necesarios para la gestión municipal, en forma oportuna, en las
                        cantidades solicitadas y bajo las mejores condiciones de calidad y precio, según lo establecido
                        en la legislación vigente y la disponibilidad de fondos.
                    </p>
                </div>

                <div class="col-lg-4 col-md-5">
                    <h3>Redes Sociales</h3>
                    <ul class="list-inline f-social">
                        <li class="list-inline-item"><a href="https://www.facebook.com/alcaldia.denicoya/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/munidenicoya/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>

                <div class="col-lg-5 col-md-6">
                    <h3>Ubicación</h3>
                    @*How to change your own map point
                        1. Go to Google Maps
                        2. Click on your location point
                        3. Click "Share" and choose "Embed map" tab
                        4. Copy only URL and paste it within the src="" field below*@

                    <div class="wow fadeInUp col-md-6 col-sm-12" data-wow-delay="0.4s">
                        <div id="google-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d981.8692859532332!2d-85.453756!3d10.141815!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x27d28df7f75141ae!2sMunicipalidad%20de%20Nicoya!5e0!3m2!1ses!2scr!4v1601595440861!5m2!1ses!2scr" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="company-name">
                                All Rights Reserved. &copy; 2020 <a href="">PROGESO, MUNICIPALIDAD DE NICOYA</a>
                                <a href="https://html.design/"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
    <!-- End Footer -->



    <a href="#" id="back-to-top" title="Back to top" style="display: none;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>

    <!-- ALL JS FILES -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!--<!-- ALL PLUGINS -->
    <script src="js/jquery.superslides.min.js"></script>
    <script src="js/images-loded.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/baguetteBox.min.js"></script>
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/custom.js"></script>
