<div class="row">
    <div class="col-md-4">
        <input value="Guardar" class="btn btn-info form-control" type="submit" />
    </div>
        @*<input value="Volver Atrás" class="btn btn-info" onClick="history.back()" type="button" />*@

    <div class="col-md-4">
            <a asp-action="Index" class="btn btn-info form-control">Atrás</a>
    </div>

    </div>
