<div class="row">
    <div class="col-md-4">
        <input value="Editar" class="btn btn-dark form-check-control" type="submit" />
    </div>

    <div class="col-md-4">
        <a asp-action="Index" class="btn btn-info form-control">Atrás</a>
    </div>
</div>
