<form method="post" asp-action="Index">
    <div>
        Buscar: <input type="text" name="dato" />
        <input type="submit" value="Filter"
               class="btn btn-success form-control" style="width: 130px;" /> 
    </div>
</form>